header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.logo a img {
  height: 100px;
}

nav ul {
  list-style: none;
  display: flex; /* Set the display to flex */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

nav li {
  margin: 0 20px;
  position: relative;
}

nav a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
}

nav ul ul li {
  margin: 0;
}

nav ul ul a {
  font-size: 16px;
}

nav li:hover > ul {
  display: block;
}

.search input[type="text"] {
  width: 200px;
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search button {
  background-color: #fff;
  color: #333;
  padding: 8px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search button:hover {
  background-color: #ccc;
}
