body {
  margin: 0;
  padding: 0px;
}
#carousel {
  margin: auto; /* 居中 */
  width: 600px; /* 设置宽度 */
  position: relative; /* 相对定位 */
  overflow: hidden; /* 超出隐藏 */
  height: 300px;
}
#carousel img {
  width: 600px; /* 设定大小 按比例缩放 */
}
#carousel > ul {
  display: flex; /* 图片处理为一行 */
  position: absolute; /* 设置绝对定位，实现相对于#carousel的绝对定位 */
}
#carousel > ul,
#carousel > ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#carousel > ul {
  animation: switch 10s ease 1s infinite alternate; /* 设定动画播放 */
}

#carousel > ul:hover {
  animation-play-state: paused; /* 暂停动画 */
}

@keyframes switch {
  /* 制定动画规则 */
  0%,
  13% {
    left: 0;
  }
  27%,
  41% {
    left: -600px;
  }
  55%,
  69% {
    left: -1200px;
  }
  83%,
  100% {
    left: -1800px;
  }
}

.paging ul {
  list-style: none;
  display: flex; /* Set the display to flex */
  justify-content: center; /* Center the items horizontally */
}

.paging li {
  margin: 0 20px;
  position: relative;
}

.news h2 {
  display: flex;
  justify-content: center;
  /* align-content: center; */
}
